.editor {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #111;
}

.editor__errors {
  white-space: pre;
  padding: 1em;
}

.cm-wrap {
  height: 100%;
  .CodeMirror {
    height: 100%;
    box-sizing: border-box;
  }
}
